<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-card>
    
        <ion-header class="ion-no-border">
          <ion-toolbar>
            <ion-title class="ion-text-center">Register</ion-title>
          </ion-toolbar>
        
        </ion-header>
      
        <ion-item>
          <ion-label  position="floating">Seller Name:</ion-label>
          <ion-input placeholder="Enter Input"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label  position="floating">Business Name:</ion-label>
          <ion-input placeholder="Enter Input"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label  position="floating">Business Type(Grocery store, Garments) </ion-label>
          <ion-input placeholder="Enter Input"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label  position="floating">Enter your Whatsapp Name:</ion-label>
          <ion-input placeholder="Enter Input"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label  position="floating">Store Location:</ion-label>
          <ion-input placeholder="Enter Input"></ion-input>
        </ion-item>
       
        <ion-button  href="#" style="
        /* padding-top: 15px; */
        margin-top: 30px;
        margin-left: 110px;
      ">Register</ion-button>
      
      <ion-input  style="margin-left: 110px;">I have an account</ion-input>
      <ion-input style="margin-left: 140px;
      color: rgb(92, 92, 228); font-weight: bold;">Login</ion-input>
      
      
      </ion-card>
    </ion-row>
  </ion-grid>
 
</ion-content>

