
 <ion-content>
  <div class="register-section ion-padding">
    <div class="heading ion-padding">
      <h1>Register Account</h1>
      <!-- <p>log in to continue</p> -->
    </div>
    <div class="register-form ion-padding">
      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Seller Name:</ion-label>
          <ion-input type="text" [(ngModel)]="seller_name" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="business-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Business Name:</ion-label>
          <ion-input type="text" [(ngModel)]="Business_name" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="business-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Business Type</ion-label>
          <ion-input type="text" placeholder="Grocery store, Garments"
          [(ngModel)]="business_type" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>
      
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="call-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Whatsapp Number</ion-label>
          <ion-input type="tel" [(ngModel)]="mobile_no" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>
     
      <!-- <div class="form-input">
        <ion-icon name="location-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Store Location</ion-label>
          <ion-input type="text" [(ngModel)]="location" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div> -->
    </div>
    <div class="action-button ion-padding">
      <!-- <ion-button  class="register-button" [routerLink]="['/tabs/tab1']">Register</ion-button> -->
      <ion-button  class="register-button" [disabled]="!password || !email || !mobile_no || !business_type || !seller_name || !Business_name"
       (click)="register()">Register</ion-button>
    <p>Already have an account</p>
    <ion-button  class="login-button"  fill="outline" [routerLink]="['/login']">Log In</ion-button>
    </div>
  </div>
  </ion-content>
  