<ion-header translucent>
  <ion-toolbar>
    <ion-title>Order</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="pending" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="pending">
        <ion-label>Pending</ion-label>
      </ion-segment-button>
      <ion-segment-button value="active">
        <ion-label>Active</ion-label>
      </ion-segment-button>
      <ion-segment-button value="deliver">
        <ion-label>Deliver</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cancel">
        <ion-label>Cancell</ion-label>
      </ion-segment-button>
   
    </ion-segment>
   
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
 
  
</ion-content>
