
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-segment value="active" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="active">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="inactive">
      <ion-label>Inactive</ion-label>
    </ion-segment-button>
  
 
  </ion-segment>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  [routerLink]="['/add-product']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
