ion-content{
    // --background:linear-gradient(#f7bc5e , #084670);
    --background:linear-gradient(#009dae , #7df3e7);


    .header{
        padding: 0 12vw;
        margin-top: 5em;
        color: #fff;
        h3{
            font-size: 1.4rem;
            font-weight: 600;
            color:#084670;
            span{
                color: #fff;
            }
        }
        h1{
            font-size: 2.2rem;
            font-weight: 400;
        }


    }
    .form{
        padding: 0 12vw;
        margin-top: 70px;
        ion-input{
            --background:#ff9999;
            --padding-start: 33px;
            height: 55px;
            border-radius: 25px;
            margin-bottom: 22px;
            --placeholder-color:#ffffff;
            --color:#fff
        }
    }
    .button{
        width: 50vw;
        background-color: #ff7272;
        margin-top:100px ;
        padding: 20px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        justify-content: flex-end;
        color: #fff;
        ion-icon{
            margin-left: 30px;
            color: #fff;
        }
    }
    .footer{
        color: #fff;
        padding: 0 12vw;
        margin-top: 100px;
        text-align: center;
        h3{
            font-size: 1.1rem;
            font-weight: 400;
            span{
                font-size: 1.2rem;
                color: #ee552b;
                font-weight: 500;
            }

        }
    }


}