<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
    Back
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="reset-section ion-padding">
  <div class="heading ion-padding">
    
   
    <h1>Forgot Password</h1>
    <p>Enter the email associated with your account and we will send an email with instruction to reset your password</p>
  </div>
  <div class="reset-form ion-padding">
    <div class="form-input">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    </div>
   
  </div>
  <div class="action-button ion-padding">
    <ion-button size="large" class="reset-button" [routerLink]="['/reset-password']">Confirm</ion-button>
 
  
  </div>
</div>
</ion-content>
