<ion-content>
 <div class="header">
   <h3>Welcome Back, <span id="user-name">Yogita</span></h3>
   <h1>Please Login <br> to Continue</h1>
 </div>
 <div class="form">
   <ion-input type="email" placeholder="Email" value="singlayogita0@gmail.com"></ion-input>
   <ion-input type="password" placeholder="Password"></ion-input>
 </div>

 <div class="button" routerLink="/reset-password">
   Login <ion-icon name="chevron-forward-outline"></ion-icon>
</div>
 <div class="footer">
 <h3 routerLink="/register">Don't have an account? <span>Sign up</span></h3>
 </div>


</ion-content>
